.bgimage {
  background-image: url("/images/edu.jpeg");
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  height: 660px;
}

.headerset {
  padding-top: 250px;
  box-sizing: border-box;
}

.headerset h2 {
  font-size: 42px;
}
.headerset h1 {
  font-size: 82px;
  font-weight: bold;
}

/*__________Our Serice */

.ourservices {
  padding: 100 0px 60px;
  height: 650px;
}

.rowsetting {
  margin: 80px 0px !important;
}
.ourservices h1 {
  font-size: 50px;
  font-weight: bold;
}
.imgsetting {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.fa-shopping-cart {
  margin-top: 25px;
}

.fa-desktop {
  margin-top: 28px;
}

.fa-lock {
  margin-top: 27px;
}

.portfolio {
  height: 1000px;
  width: 100%;
  padding: 50px;
}
.portfolio h1 {
  font-size: 50px;
  font-weight: bold;
}

.card {
  margin-top: 50px;
}
.ourteam {
  height: 700px;
  padding: 100px 0px 60px;
  width: 100%;
}
.ourteam h1 {
  font-size: 50px;
  font-weight: bold;
}

.teamsetting {
  margin-top: 70px;
}
.footer {
  height: 50px;
}

.footer h6 {
  line-height: 50px;
}

@media (min-width: 992px) {
}

@media (min-width: 768px) and (max-width: 991px) {
  .headerset h2 {
    font-size: 42px;
  }
  .headerset h1 {
    font-size: 62px;
    font-weight: bold;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
}

@media (min-width: 480px) and (max-width: 574px) {
}

@media (max-width: 479px) {
  .headerset h2 {
    font-size: 22px;
  }
  .headerset h1 {
    font-size: 22px;
    font-weight: bold;
  }
  .ourservices {
    height: 1200px;
  }
  .portfolio {
    height: 2700px;
  }
  .ourteam {
    height: 1400px;
  }
}
